<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.new_androidclient">
    <!-- JPush Required start -->
    <permission
        android:name="com.example.new_androidclient.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- JPush Required end -->
    <!-- JPush Required start -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.example.new_androidclient.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- JPush Required end -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.REQUEST_INSTALL_PACKAGES.GET_TASKS" /> <!-- 安卓8.0打开apk安装更新 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- <uses-permission -->
    <!-- android:name="android.permission.WRITE_SECURE_SETTINGS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".Other.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".work.WorkDLApplicationActivity"></activity>
        <activity android:name=".work.WorkLDApplicationActivity" />
        <activity android:name=".work.WorkDKDeviceListActivity" />
        <activity android:name=".work.WorkDKApplicationActivity" />
        <activity android:name=".work.WorkDZApplicationActivity" />
        <activity android:name=".work.WorkDTApplicationActivity" />
        <activity android:name=".work.WorkGCApplicationActivity" />
        <activity android:name=".hazard.HazardMajorHiddenDangerListActivity" />
        <activity android:name=".login.NFCActivity" />
        <activity android:name=".work.AnalysisProjectActivity" />
        <activity android:name=".work.WorkRegionActivity" />
        <activity android:name=".work.WorkDHAppointmentDetailActivity" />
        <activity android:name=".work.WorkInitialActivity" />
        <activity android:name=".work.PermitCancelActivity" />
        <activity android:name=".work.WorkAddSignActivity" />
        <activity android:name=".work.WorkSigntureActivity" />
        <activity android:name=".work.WorkAddBlindPlateActivity" />
        <activity android:name=".work.WorkBlindPlate" />
        <activity android:name=".work.WorkCloseActivity" />
        <activity android:name=".work.WorkControlActivity" />
        <activity android:name=".work.IncreaseHotWorkActivity" />
        <activity android:name=".work.HotWorkActivity" />
        <activity android:name=".work.CountersignActivity" />
        <activity android:name=".work.PermitCountersignActivity" />
        <activity android:name=".work.GasAnalysisActivity" />
        <activity android:name=".work.CheckMessageActivity" />
        <activity android:name=".work.SceneCheckActivity" />
        <activity android:name=".work.WorkDHAppointmentActivity" />
        <activity android:name=".work.WorkAppointmentActivity" />
        <activity android:name=".work.WorkApplicationInvolveActivity" />
        <activity android:name=".work.WorkRiskListActivity" />
        <activity android:name=".work.WorkRiskThreeActivity" />
        <activity android:name=".work.WorkApplicationCheckListActivity" />
        <activity android:name=".work.AboutWorkActivity" />
        <activity android:name=".work.WorkSXApplicationActivity" />
        <activity android:name=".work.WorkDHApplicationActivity" />
        <activity android:name=".work.RiskIdentifyActivity" />
        <activity android:name=".work.MemberActivity" />
        <activity android:name=".work.WorkApplicationActivity" />
        <activity android:name=".work.SpecialWorkActivity" />
        <activity android:name=".work.ReconnaissanceActivity" />
        <activity android:name=".work.WorkSafeMeasuresActivity" />
        <activity android:name=".work.Adapter.WorkNeedDoOneAdapter" />
        <activity
            android:name=".work.WorkNeedDoActivity"
            android:launchMode="singleTask" />
        <activity android:name=".work.JSAActivity" />
        <activity android:name=".inspection.InspectionNfcActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".inspection.InspectionDeviceAreaDetailActivity" />
        <activity android:name=".inspection.InspectionDeviceRoughAndAreaTakePhotoActivity" />
        <activity android:name=".inspection.InspectionDeviceRoughAndAreaSelectDeviceListActivity" />
        <activity android:name=".inspection.InspectionDeviceRoughAndAreaSelectActivity" />
        <activity android:name=".inspection.InspectionDeviceRoughDetailActivity" />
        <activity android:name=".hazard.HazardAnalysisNewActivity" />
        <activity android:name=".device_management.srarch.DeviceInfoActivity" />
        <activity android:name=".device_management.srarch.EquipmentActivity" />
        <activity android:name=".device_management.srarch.OperatingParametersActivity" />
        <activity android:name=".device_management.srarch.MainParameterActivity" />
        <activity android:name=".device_management.srarch.SealingPointActivity" />
        <activity android:name=".device_management.srarch.BasicActivity" />
        <activity android:name=".device_management.srarch.DetailsActivity" />
        <activity android:name=".device_management.srarch.SearchActivity" />
        <activity android:name=".hazard.HazardTablePlanListActivity" />
        <activity android:name=".hazard.HazardTablePlanDetailActivity" />
        <activity android:name=".hazard.HazardMainActivity" />
        <activity android:name=".device_management.WorkOrderActivity" />
        <activity android:name=".device_management.NewActivity" />
        <activity android:name=".device_management.InterimPlanDetailsActivity" />
        <activity android:name=".device_management.InterimPlanActivity" />
        <activity android:name=".device_management.DevicePlanManagementActivity" />
        <activity android:name=".device_management.DeviceActivity" />
        <activity android:name=".device_management.DeviceSearchActivity" />
        <activity android:name=".edition.EditionAndPushActivity" />
        <activity android:name=".hazard.HazardVerificationListActivity" />
        <activity android:name=".hazard.HazardPlanUploadFileActivity" />
        <activity android:name=".hazard.HazardGovernmentActivity" />
        <activity android:name=".hazard.HazardPlanSignActivity" />
        <activity android:name=".wait_to_handle.WaitMainActivity" />
        <activity android:name=".hazard.HazardPlanActivity" />
        <activity android:name=".wait_to_handle.WaitHazardListActivity" />
        <activity android:name=".hazard.HazardAnalysisTreeActivity" />
        <activity android:name=".hazard.HazardAnalysisPersonSelectActivity" />
        <activity android:name=".hazard.HazardAnalysisDeviceSelectActivity" />
        <activity android:name=".hazard.HazardNotificationSignActivity" />
        <activity android:name=".wait_to_handle.WaitInspectionDetail" />
        <activity
            android:name=".wait_to_handle.WaitInspectionListActivity"
            android:launchMode="singleTop" />
        <activity android:name=".inspection.InspectionRoughDeviceListActivity" />
        <activity android:name=".inspection.InspectionRoughActivity" />
        <activity android:name=".inspection.InspectionAreaListActivity" />
        <activity android:name=".inspection.Inspection24ProblemDetailActivity" />
        <activity android:name=".inspection.Inspection24ProblemListActivity" />
        <activity android:name=".inspection.InspectionStopActivity" />
        <activity android:name=".inspection.CustomCaptureActivity" />
        <activity android:name=".inspection.InspectionSelectActivity" />
        <activity android:name=".inspection.InspectionTakePhotoActivity" />
        <activity android:name=".inspection.InspectionDeviceDetailActivity" />
        <activity android:name=".device_management.DeviceListActivity" />
        <activity
            android:name=".inspection.InspectionDeviceListActivity"
            android:launchMode="singleTask"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".inspection.AreaDistinguishActivity" />
        <activity android:name=".hazard.HazardVerificationDetailActivity" />
        <activity android:name=".hazard.HazardDetailActivity" />
        <activity android:name=".hazard.HazardListActivity" />
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".login.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Base.BaseActivity" />
        <activity android:name=".login.LoginActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.new_androidclient.inspection.MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.tobto.TobtoComm" /> <!-- JPush Required start -->
        <service
            android:name=".jpush.PushMessageReceiver"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" /> <!-- </>值来自开发者平台取得的AppKey -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="${applicationId}.DownloadProvider"
            android:exported="true" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <!-- since 3.3.0 接收JPush相关事件 -->
        <receiver android:name=".jpush.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver> <!-- since 3.3.0 Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="false"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
    </application>

</manifest>